---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- About Me Section -->
            <section class="about-section">
                <div class="about-content">
                    <h1>Hi, I'm Saikat</h1>
                    <p>
                        I am very passionate and curious about life and cosmos.
                        Always try to learn something new and challenge my
                        belief system.
                    </p>
                </div>
                <div class="portrait-container">
                    <img
                        src="/assets/images/saikat.jpg"
                        alt="Saikat"
                        class="portrait-image"
                    />
                </div>
            </section>
        </div>
    </div>
</div>
